<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mesa Para 2" />
    <meta name="author" content=" Raul Ferrero Vicebte" />

    <title>Catgorias</title>
  </head>
  
  <body>
	  <th:block th:insert="~{admin/header}"></th:block>
    <div class="container-fluid m-0 p-0 d-flex">

      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
        style="width: 280px; height: 100vh;"
      >
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/productos" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home" />
              </svg>
              Productos
            </a>
          </li>
          <li>
            <a href="/pedidos" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16" >
                <use xlink:href="#speedometer2" />
              </svg>
              Pedidos
            </a>
          </li>
          <li>
            <a href="/categorias" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#table" />
              </svg>
              Categorias
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#grid" />
              </svg>
              Empleados
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#people-circle" />
              </svg>
              Clientes
            </a>
          </li>
        </ul>
      </div>

    <div class="container">

      <div class="starter-template">
        <div>
          <h2 class="text-center mt-3">Listado de Categorías</h2>
          <a href="/registrarCategoria" class="btn btn-danger mb-2">Añadir categoria</a>

        </div>
        
        <table class="table table-striped table-responsive table-hover">
        	<thead>
        	<tr>
            <th>Id</th>
        	<th>Nombre</th>
        	<th>Descripción</th>
        	</tr>
        	
       </thead>
       
       <tbody>
       		<tr th:each="categoria: ${listaCategorias}" >
       		<td th:text="${categoria.id}"></td>	
       			<td th:text="${categoria.nombre}"></td>
       			<td th:text="${categoria.descripcion}"></td>
       			
       		</tr>
       </tbody>

        </table>
        
        
      </div>

    </div><!-- /.container -->

    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>