<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mesa Para 2" />
    <meta name="author" content=" Raul Ferrero Vicebte" />

    <title>Pedidos</title>
  </head>
  
  <body>
	  <th:block th:insert="~{admin/header}"></th:block>

<div class="container-fluid m-0 p-0 d-flex">

  <th:block th:insert="~{admin/leftNav}"></th:block>

    <div class="container">
      <div class="starter-template">
        <div>
          <h2 class="text-center mt-3">Listado de Pedidos</h2>
    

        </div>

        <table class="table table-striped table-responsive table-hover">
          <thead>
            <tr>
              <th>Nº pedido</th>
              <th>Fecha</th>
              <th>Método de Pago</th>
              <th>Estado</th>
              <th>Número de Factura</th>
              <th>Total</th>
              <th>Opción</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="pedido: ${listaPedidos}">
              <form action="/cambiarEstado" method="POST">
                <input type="hidden" name="id" th:value="${pedido.id}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.fecha}"></td>
                <td th:text="${pedido.metodo_pago}"></td>
                <td>
                  <select class="form-control form-select" name="estado" id="estado">
                    <option value="PE" disabled th:selected="${pedido.estado eq 'PE'}">Pendiente de envío</option>
                    <option value="PC" disabled th:selected="${pedido.estado eq 'PC'}">Cancelación solicitada</option>
                    <option value="E"  th:disabled="${pedido.estado == 'C' or pedido.estado == 'PC'}" th:selected="${pedido.estado eq 'E'}">Enviado</option>
                    <option value="C"  th:disabled="${session.usuario.id_rol == 3 or pedido.estado == 'E'}" th:selected="${pedido.estado eq 'C'}">Cancelado</option>
                  </select>
                  </td>
                <td th:text="${pedido.num_factura}"></td>
                <td th:text="${#numbers.formatDecimal(pedido.total, 0, 2)}"></td>
                <td>
                  <button
                    name="accion"
                    value="editar"
                    class="btn btn-sm btn-warning"
                  >
                    Guardar
                  </button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  </body>
</html>
