<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styleAdmin.css">
        <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
        
        <link href="/webjars/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="/webjars/bootstrap/js/bootstrap.js"></script>
        <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
       
        <script src="/webjars/jquery/dist/jquery.min.js"></script>
        
        
       
          
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
      
      
        <title>Mesa para 2</title>
      </head>
      

<header class="p-3  border-bottom  border-3 border-black">
    <div class="container d-flex justify-content-evenly align-items-center flex-wrap  ">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/home" type="submit" name='home' class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-4  ">
          <h3 class="slogan text-center fw-bold " >Mesa Para <br><span style="color: red; font-size: 2em;"> 2</span></h3>
          <img class="img-fluid " style="width: 100px;" src="/img/logo.png" alt="No se encuentra la imagen">
        </a>
  
      </div>
      <div>
        <h1 class="fw-bold  bg-gradient bg-warning-subtle shadow  p-2 rounded ">Panel de Administración</h1>
      </div>
      <a class="btn btn-sm btn-dark " href="/logout">Logout</a>
      <a class="btn btn-sm btn-dark" href="/perfil">Mi Perfil</a>
    </div>
  </header>