
  <body>
	  <th:block th:insert="~{admin/header}"></th:block>

<div class="container-fluid m-0 p-0 d-flex">

  <th:block th:insert="~{admin/leftNav}"></th:block>

    <div class="container justify-content-center align-items-center">
      <div>
        <div class="d-flex justify-content-center flex-column align-content-center align-items-center  p-5 mt-3">
        <h1 class="slogan text-center " style="font-size: 5rem;" >Mesa Para <br><span style="color: red; font-size: 2em;"> 2</span></h1>
      </div>
      <div class="d-flex justify-content-lg-evenly ">
      <div>
        
        <canvas id="facturacion"></canvas>
      </div>
      
      <div>
        aqui va una grafica 2
      </div>
    </div>
    <div class="d-flex justify-content-lg-evenly ">
      <div>
        aqui va una grafica 3
      </div>
      
      <div>
        aqui va una grafica 4
      </div>
    </div>
                
      </div>
    </div>

</div>

<script th:src="@{/js/estadisticas.js}"></script>
  </body>
</html>
