<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mesa Para 2" />
    <meta name="author" content=" Raul Ferrero Vicebte" />

    <title>Panel de administracion</title>
  </head>
  
  <body>
	  <th:block th:insert="~{admin/header}"></th:block>

<div class="container-fluid m-0 p-0 d-flex">

  <th:block th:insert="~{admin/leftNav}"></th:block>

    <div class="container justify-content-center align-items-center">
      <div class="d-flex justify-content-center flex-column align-content-center align-items-center  p-5 mt-3">
      <h1 class="slogan text-center " style="font-size: 5rem;" >Mesa Para <br><span style="color: red; font-size: 2em;"> 2</span></h1>
                
      </div>
    </div>

</div>
  </body>
</html>
