<configuration>

	<!-- NIVELES -->
	<!-- TRACE -->
	<!-- DEBUG -->
	<!-- INFO -->
	<!-- WARN -->
	<!-- ERROR -->
	<!-- FATAL -->

	<!-- additivity="false"> Evita q se propague al nivel superior -->


	<!-- Configuración del appender para la consola (nivel INFO) -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		
  <encoder>
    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{35} - %msg%n</pattern>
</encoder>

	</appender>

	<!-- Configuración del appender para el archivo de nivel ERROR -->
	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>/Users/raul/Desktop/log/error.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<!-- Configuración del appender para el archivo de nivel DEBUG -->
	<appender name="INFO_FILE"
		class="ch.qos.logback.core.FileAppender" additivity="false">
		<file>/Users/raul/Desktop/log/debug.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
    </filter>
	</appender>

	<!-- Configuración del logger raíz -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERROR_FILE" />
		<appender-ref ref="INFO_FILE" />
	</root>
</configuration>
