

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  
  <link href="/webjars/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/webjars/jquery/dist/jquery.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
  <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
 
  
  
 
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">


  <title>Mesa para 2</title>
</head>

<body>

<!-- <h1 th:text= "${pruebaModelo}" >Este texto no se ve</h1> -->



<header class="p-3  border-bottom  border-3 border-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" type="submit" name='home' class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-4  ">
        <h3 class="slogan text-center " >Mesa Para <br><span style="color: red; font-size: 2em;"> 2</span></h3>
        <img class="img-fluid " style="width: 100px;" src="/img/logo.png" alt="No se encuentra la imagen">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="/productos" name='productos' class="nav-link px-2 link-body-emphasis text-white  fw-bold ">Productos</a></li>
        <li class="nav-item"><a href="/info" name='info' class="nav-link px-2 link-body-emphasis text-white fw-bold  ">Información y contacto</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
      </form>


      <!-- -------------------------Login------------------------- -->
      <div class="text-end d-flex " th:if="${session.usuario != null}">
        <div class="dropdown">
        <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill text-light  "></i><span class="ms-2 fw-bold text-light  " th:text="${session.usuario.nombre}">Login</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" th:href="@{/editar/{userId}(userId=${session.usuario.id})}">Mi perfil</a></li>
            <li><a class="dropdown-item" href="/misPedidos">Pedidos</a></li>
            <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
          </ul>
        </div>
          


           <a href="/carrito" class="d-block link-body-emphasis text-decoration-none ms-4">
            <i class="bi bi-basket text-light  position-relative  ">
            
            
    
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${session.cantidadTotal}"></span>

    
    
            
            </i><span class="ms-2 fw-bold text-light" >Carrito </span>
          </a>
        </div>

      <!-- -----Si no Login---- -->
    <div class="text-end d-flex " th:if="${session.usuario == null}">
    <a href="/login" class="d-block link-body-emphasis text-decoration-none">
        <i class="bi bi-person-fill text-light  "></i><span class="ms-2 fw-bold text-light  " >Login</span>
      </a>

      
       <a href="/carrito" class="d-block link-body-emphasis text-decoration-none ms-4">
        <i class="bi bi-basket text-light  position-relative  ">
        


    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${session.cantidadTotal}"></span>


        
        </i><span class="ms-2 fw-bold text-light" >Carrito </span>
      </a>
    </div>
          
      <!-- -------------------------------------------------- -->




    </div>
  </div>
</header>