<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{header}"></th:block>


<div class="novedadestitulo">
      <h1>ULTIMAS NOVEDADES</h1>
    </div>
    
    <section class="novedades"  >
      <article th:each="producto: ${novedades}">
        <a href="./?producto=<?php echo $novedades[0]->codigo ?>">
          <div class="card" style="width: 18rem; ">
            <div class="card-header text-center mb-3 ">
              <h3 class="card-text" th:text="${producto.nombre}">
             
              </h3>
            </div>
            <img src="" th:src="@{${producto.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" th:text="${producto.descripcion}">
            
              </p>
            </div>
            <div class="card-footer text-center bg-success fs-4 ">
              <p class="card-text fw-bold precio " th:text="${producto.precio} + €"> 
                €
              </p>
            </div>
          </div>
        </a>
      </article>
    </section>
    
    
    
    <div class="novedadestitulo">
      <h1>RECOMENDADOS</h1>
    </div>
    <section class="novedades">
      <article>
        <a href="#">
          <div class="card" style="width: 18rem;">
            <div class="card-header text-center mb-3 ">
              <h3 class="card-text">
                titulo
              </h3>
            </div>
            <img src="url" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
               descripcion
              </p>
            </div>
            <div class="card-footer text-center bg-success fs-4 ">
              <p class="card-text fw-bold precio ">Precio:
                €
              </p>
            </div>
          </div>
        </a>
      </article>

    

    </section>
    
<th:block th:insert="~{footer}"></th:block>

