<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{header}"></th:block>



<main class="justify-content-center  ">

	<div class="container mt-5 p-4">

		<h2 class="mb-4  ">Escoja su método de pago</h2>

        <form action="/resumenPedido" method="get">
            <input value="Paypal" id="paypal" type="radio" name="metodo" class="me-3" required> <label for="paypal" class="fs-4 " ><i class="bi bi-paypal me-2"></i><span>Paypal</span> </label> <br>
            <input value="Tarjeta" id="tarjeta" type="radio" name="metodo"class="me-3" required> <label for="tarjeta" class="fs-4" ><i class="bi bi-credit-card me-2"></i> <span>Tarjeta bancaria</span> </label>
<br>
			<button class="btn btn-warning mt-3" type="submit">Continuar</button>
        </form>

	</div>


</main>

	
</div>

<th:block th:insert="~{footer}"></th:block>