<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{header}"></th:block>




<main class="justify-content-center ">

	<div class="container mt-5">
		<div class="starter-template">
		  <h2>Listado de Pedidos</h2>
		  <form action="/misPedidos" class="form mt-3 mb-3" id="filtroForm">
    <label class="d-inline" for="rango">Filtrar pedidos:
        <select class="form-control w-auto" name="rango" id="rango">
            <option th:selected="${todos}" th:value="todos">Todos</option>
            <option th:selected="${unMes}" th:value="1mes">Último mes</option>
            <option th:selected="${tresMeses}" th:value="3meses">Últimos 3 meses</option>
            <option th:selected="${doceMeses}" th:value="12meses">Último año</option>
        </select>
    </label>
</form>

		  <script>
			var form = document.getElementById('filtroForm');
			document.getElementById('rango').addEventListener('change', function() {
				form.submit();
			});
		</script>
  
		  <table class="table table-striped table-responsive table-hover">
			<thead>
			  <tr>
				<th>Nº pedido</th>
				<th>Fecha</th>
				<th>Método de Pago</th>
				<th>Estado</th>
				<th>Id factura</th>
				<th>Total</th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="pedido: ${listaPedidos}">
				<form action="/gestionPedido" method="POST">
				  <td th:text="${pedido.id}"></td>
				  <td th:text="${#dates.format(pedido.fecha, 'dd/MM/yyyy')}"></td>
				  <td th:text="${pedido.metodo_pago}"></td>
				  <td>
					<th:block th:if="${pedido.estado eq 'PE'}">Pendiente de envío</th:block>
					<th:block th:if="${pedido.estado eq 'PC'}">Cancelación solicitada</th:block>
					<th:block th:if="${pedido.estado eq 'E'}">Enviado!</th:block>
					<th:block th:if="${pedido.estado eq 'C'}">Cancelado!</th:block>
				  </td>
				  <td th:text="${pedido.num_factura}"></td>
				  <td th:text="${#numbers.formatDecimal(pedido.total, 0, 2)}"></td>
				  <td>
					<input type="hidden" name="id" th:value="${pedido.id}">
					<button th:if="${pedido.estado != 'PC' and pedido.estado != 'E' and pedido.estado != 'C'}"

					type="submit"
					  name="gestion"
					  value="cancelar"
					  class="btn btn-sm btn-outline-secondary "
					>
					  Solicitar cancelación
					</button>
					<button
					type="submit"
					  name="gestion"
					  value="ver"
					  class="btn btn-sm btn-warning "
					>
					  Ver detalles
					</button>
					<a th:if="${pedido.estado == 'E'}" target="_blank" class="btn btn-sm  btn-success " th:href="'/verFactura?id=' + ${pedido.id}">Factura</a>

				  </td>
				</form>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
</main>


<th:block th:insert="~{footer}"></th:block>