<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{header}"></th:block>




<main class="justify-content-center ">

	<div class="container">
		<div class="starter-template">
		  <h2>Listado de Pedidos</h2>
  
		  <table class="table table-striped table-responsive table-hover">
			<thead>
			  <tr>
		
				<th>Fecha</th>
				<th>Método de Pago</th>
				<th>Estado</th>
				<th>Número de Factura</th>
				<th>Total</th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="pedido: ${listaPedidos}">
				<form action="/cancelarPedido" method="POST">
				  <td th:text="${pedido.fecha}"></td>
				  <td th:text="${pedido.metodo_pago}"></td>
				  <td th:text="${pedido.estado}"></td>
				  <td th:text="${pedido.num_factura}"></td>
				  <td th:text="${#numbers.formatDecimal(pedido.total, 0, 2)}"></td>
				  <td>
					<input type="hidden" name="id" th:value="${pedido.id}">
					<button
					type="submit"
					  name="cancelar"
					  value="editar"
					  class="btn btn-sm btn-secondary"
					>
					  Solicitar cancelación
					</button>
				  </td>
				</form>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	

</main>


<th:block th:insert="~{footer}"></th:block>