<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{header}"></th:block>

<main>

  <nav class="navbar navbar-expand-lg bg-primary-subtle mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Categorías</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" th:each="categoria: ${categorias}">
          <a class="nav-link" href="#"  th:href="@{/categoria/{id}(id=${categoria.id})}"  th:text="${categoria.nombre}"
            >Features</a
          >
        </div>
      </div>
    </div>
  </nav>


    <section class="articulo container p-4">
      <div class="tituloproducto">
        <h1 th:text="${producto.nombre}">
        </h1>
      </div>
      <div class="d-flex row">
        <figure class="imagenproducto col-6">
          <img src="" th:src="@{${IMG} + ${producto.imagen}}" class="imagenproducto rounded-5 shadow " style="max-height: 500px;" >
        </figure>
        <div class="col-6 container" style="color: black;">
          <h4>Descripcion</h4>
          <p th:text="${producto.descripcion}">
    
          </p>


          <div class="d-flex">
            <div class="card-footer text-center radius  me-2 p-3">
              <span class="card-text fw-bold precio pb-0 " th:text="${#numbers.formatInteger(producto.precio, '0')}"></span>
              <span class=" align-top "  th:text="${#numbers.formatDecimal(producto.precio, 0, 2).substring(#numbers.formatDecimal(producto.precio, 0, 2).length() - 2)} + ' €'"></span>
            </div>
            <br><br>
       
            <p ><i class="bi bi-check ms-5 me-2 text-success  "></i><span class="text-success fst-italic mt-3 " th:text="${session.idioma != null ? session.idioma['Envio'] : 'Envio Gratis!'}">Envio Gratis!</span></p>
          
          </div>
          
            <div class="text-center ">
              <div th:if="${producto.stock > 0}">
                
                
                <form action="/addCarrito" method="post">
                  
                  <label for="cantidad" th:text="${session.idioma != null ? session.idioma['Cantidad'] : 'Cantidad'}">Cantidad:</label>
                  <input type="number" id="cantidad" name="cantidad" value="1" class="ms-2 input-cantidad" min="0" th:max="${producto.stock}">
                  <input type="hidden" name="id" th:value="${producto.id}" />
                  <button type="submit"  class="btn btn-sm btn-warning  fw-bold ms-3  " th:text="${session.idioma != null ? session.idioma['AñadirCarrito'] : 'Añadir al carrito'}">Añadir al carrito</button>
                </form>

            
            </div>


            </div>
        	  <p class="mt-4 border-bottom text-secondary" th:if="${producto.stock > 5}" th:text="${session.idioma != null ? session.idioma['Stock'] : 'En Stock'}">En Stock</p>
				<p class="mt-4 border-bottom text-secondary" th:if="${producto.stock > 0 and producto.stock <= 5}" th:text="${session.idioma != null ? session.idioma['Ultimas'] : 'Últimas unidades disponibles'}">Últimas unidades disponibles</p>
			<p class="mt-4 border-bottom text-secondary text-danger" th:if="${producto.stock <= 0}" th:text="${session.idioma != null ? session.idioma['SinStock'] : 'Sin Stock'}">Sin Stock</p>

       

          <div class="ms-auto text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>

        </div>

      </div>
    </section>


  </main>

<script src="/js/carrito.js"></script>
    
<th:block th:insert="~{footer}"></th:block>

